{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2017",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
